.narrow {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.warning .dot {
  background: #f5222d;
  font-weight: bold;
  color: white;
  padding: 5px;
  height: auto;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}
.warning-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  min-height: 32px;
  border: 1px solid #f5222d;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.warning-text .markdown p {
  margin: 0;
}
